<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGetOrgV3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://api.nuget.org/v3/index.json" value="true" />
  </disabledPackageSources>
</configuration>